# .dockerignore — MS-Insurance
# Excluye archivos locales que no deben entrar al contexto de compilación de Docker

**/bin/
**/obj/
**/.vs/
**/.git/
**/NuGetFallbackFolder/
**/*.user
**/*.suo
**/out/
